body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
.loader{
  width: 60px;
  height: 60px;
  color: red;
  position: absolute;
  font-size: 40px;
  left: 370px;
  top: 350px;
}